<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

        <div class="container">
            <hr>
            <h1><%= pergunta.titulo %></h1>
            <span><%= pergunta.descricao %></span>
                <hr>
                <form method="POST" action="/responder">
                    <h3>Resposta</h3>
                    <label>Responder esta pergunta:</label>
                    <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea>
                    <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
                    <button type="submit" class="btn btn-primary">Responder</button>
                </form>
        
        </div>





</body>
<%- include('./partials/foot.ejs') %>

</html>